*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.note{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 15px;
}
.tool{
    width: 100%;
    color: white;
    padding: 5px;
    background-color: #2d3436;
    display: flex;
    justify-content: end;

}
.tool i{
    padding: 5px;
    cursor: pointer;
}

.note textarea{
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 23px;
}
.note textarea:focus{
    border: 0;
    outline: 0;
}

#addBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #2d3436;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 200px) {
    .note {
        width: 90%;
        margin: 10px auto;
    }

    #addBtn {
        right: 10px;
        top: 10px;
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    .note {
        width: 45%; 
    }
}

@media (min-width: 1024px) {
    .note {
        width: 30%;
    }

    #addBtn {
        right: 20px;
        top: 20px;
        font-size: 18px;
    }
}
